* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #7902cd;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #61045F, #AA076B);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #48006c, #9f00e3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.react-chatbot-kit-chat-container {
  width: 75vw;
}

.react-chatbot-kit-chat-header {
  display: none;
}


.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
}

.CG {
  background-color: #4e045c;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 100%;
}

.start-btn {
  background-color: #61045F;
  color: white;
  padding: .5rem 1rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
}
